/* Bouton "Scroll To Top" */
#myBtn {
    display: none; /* Caché par défaut */
    position: fixed; /* Position fixé */
    bottom: 40px; /* Affiche le bouton en bas de la page */
    right: 30px; /* Affiche le bouton 30 pixels de la droite */
    z-index: 99; /* S'assure de ne pas déborder */
    border: none; /* Supprime les bordures */
    outline: none; /* Supprime les outlines */
    background-color: black; /* Affiche une couleur de fond */
    color: white; /* Affiche une couleur de texte */
    cursor: pointer; /* Ajoute un survol au click de la souris */
    padding-bottom: 5px; /* Quelque padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 50px; /* Affiche la taille du bouton */
}

#myBtn:hover {
    background-color: darkgray; /* Ajoute une couleur de fond Gris Foncé au survol */
}
